# Created by .ignore support plugin (hsz.mobi)
### Gradle template
java-server/.gradle
java-server/build/

# Ignore Gradle GUI config
java-server/gradle-app.setting

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!java-server/gradle-wrapper.jar

# Cache of project
java-server/.gradletasknamecache

# # Work around https://youtrack.jetbrains.com/issue/IDEA-116898
# gradle/wrapper/gradle-wrapper.properties
### Java template
# Compiled class file
java-server/*.class

# Log file
java-server/*.log

# BlueJ files
java-server/*.ctxt

# Mobile Tools for Java (J2ME)
java-server/.mtj.tmp/

# Package Files #
java-server/*.jar
java-server/*.war
java-server/*.ear
java-server/*.zip
java-server/*.tar.gz
java-server/*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
java-server/hs_err_pid*
